.cursor {
  height: 19px;
  top: 0px;
  left: 0px;
  letter-spacing: 0px;
  display: block;
  padding-left: 0px;
  width: 2px;

  position: absolute;
  touch-action: none;
  cursor: text;

  background-color: rgb(0, 0, 0);
}
